.ftlist {
     
    width: 100%;
    min-height: 30px;
    border-collapse: collapse;
    margin-bottom: auto;
    background-color:white;
    border-bottom: 1px solid #ddd;

    
}


.ftlist th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 12px;
    max-width: 1000px;

}

.ftlist th {
    background-color: #4a73db;      
    color: white;
    font-size: 14px;
    position: sticky;  /* Make the header sticky */
    top: 0;            /* Stick to the top of the table */
    z-index: 2;        /* Ensure header stays on top */
    max-width: 1000px;
    box-sizing: border-box;



}
/* .ftlist tbody tr {
    display: none;
}

.ftlist tbody tr.hidden {
    display: none;
} */